target/
.idea/
.vscode/
*.iml
*.log

# Maven / Java
.mvn/wrapper/maven-wrapper.jar

# Test reports
allure-results/
allure-report/

# Local drivers opcional
drivers/chromedriver.exe
# Allure / reportes generados
.allure/
allure-results/
target/

# Drivers locales
drivers/
