# Build / Maven
target/

# IDE
.idea/
.vscode/
*.iml

# Logs
*.log

# Maven wrapper
.mvn/wrapper/maven-wrapper.jar

# Allure / reportes generados
allure-results/
allure-report/
.allure/

# Drivers locales
drivers/

# Variables de entorno
.env
.env.*